* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --main-blue: #4891f1;
    --white-percent: 65%;
    --color-percent: 35%;
    --todoDiv-width-percent: 150%;
} 

html {
    font-size: 24px;
}

#mainContainerDiv /* contains header, sidebar and content*/{
    display: grid;

    margin-left: 0.5rem;

    grid-template-rows: 150px 1fr;
    grid-template-columns: 300px 1fr;
    grid-auto-flow: column;
}


/* --------------------------------------------------*/
/* ----------------- CSS for HEADER -----------------*/
/* --------------------------------------------------*/

#header /*a grid member of mainContainerDiv*/{
    grid-area: 1 / 1 / 2 / -1;
    margin: 0.6rem;

    display: grid;
    grid-template-columns: 300px 1fr;
}

#headerLeft {
    grid-area: 1 / 1 / 2 / 2;

    display:grid;
    align-items: center;
}

#quickViewContainer {
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#thisWeekQuickViewBtn,
#highPriorityQuickViewBtn,
#expiredQuickViewBtn {
    cursor: pointer;

    border-radius: 25px;
    
    background-color: white;

    font-size: 1rem;

    padding: 0.2rem 0.5rem;
}

#thisWeekQuickViewBtn {
    border: 1px solid var(--main-blue);
    color: var(--main-blue);
}

#highPriorityQuickViewBtn {
    border: 1px solid red;
    color: red;
}

#expiredQuickViewBtn {
    border: 1px solid darkgrey;
    color: darkgrey;
}

#thisWeekQuickViewBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: var(--main-blue);
}

#highPriorityQuickViewBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: red;
}

#expiredQuickViewBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: darkgrey;
}

#headerRight {
    grid-area: 1 / 2 / -1 / -1;

    display: grid;
    grid-auto-rows: 1fr 1fr;
}

#legendContainer {
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#highPriorityLegend,
#mediumPriorityLegend, 
#lowPriorityLegend {
    border: 1px solid black;
    border-radius: 5px;

    font-size: 0.8rem;

    height: 1rem;

    padding: 0rem 0.8rem;

    display: grid;
    align-items: center;
}

/* ---------------------------------------------------*/
/* ----------------- CSS for SIDEBAR -----------------*/
/* ---------------------------------------------------*/

#sidebar /* a grid member of mainContainerDiv*/{
    grid-area: 2 / 1 / -1 / 2;

    margin: 0 0.5rem;
}

#addProjContainer {
    display: flex;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

#addProjContainer:hover {
    background-color: var(--main-blue);
    color: white;
}

#addProjText {
    margin-left: 0.2rem;
}

.projDiv {
    margin-top: 0.3rem;

    transition: all 0.3s ease-in-out;
}

.projDiv:hover {
    background-color: var(--main-blue);
    color: white;
}

#addProjIcon,
#addProjText,
.projDiv
{
    cursor: pointer;
}

/* ---------------------------------------------------*/
/* ----------------- CSS for CONTENT -----------------*/
/* ---------------------------------------------------*/

#content /* a grid member of mainContainerDiv*/ {
    display: grid;

    gap: 0.2rem;

    grid-area: 2 / 2 / -1 / -1;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
}

.todoList /* container for proj and todos under it */{
    border: 1px solid black;
    border-radius: 15px;

    box-shadow: 2px 2px grey; 

    padding: 0.3rem 0.6rem;

    display: flex;
    flex-direction: column;
}

.projTitleDiv /* contains project title */{
    font-weight: 900;
    color: var(--main-blue);
}

.todoContainer /* container for all the todo*/ {
    margin-left: 0.2rem;
    flex: 1 1 auto;
}

.todoDiv /* div that contains todo name */ {
    margin-bottom: 0.3rem;
    border: 1px solid grey; 
    border-radius: 5px;

    padding: 0.1rem 0.6rem;

    font-size: 0.8rem;
}

.highPriority {
    background: linear-gradient(to left, #fff var(--white-percent), red var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: red;

    transition: all 0.2s ease-in-out;
}

.highPriority:hover {
    background-position: left;
}

.mediumPriority {
    background: linear-gradient(to left, #fff var(--white-percent), yellow var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: yellow;

    transition: all 0.2s ease-in-out;
}

.mediumPriority:hover {
    background-position: left;
}

.lowPriority {
    background: linear-gradient(to left, #fff var(--white-percent), green var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: green;

    transition: all 0.2s ease-in-out;
}

.lowPriority:hover {
    background-position: left;
}

.addTodoInput{
    color: black;

    margin-left: 0.2rem;

    border: 1px solid lightgrey;
    border-radius: 5px;

    padding: 0.1rem 0.6rem;

    font-size: 0.8rem;
}

.addTodoInput::placeholder {
    color: lightgrey;
    font-size: 0.8rem;
    padding: 0.1rem 0;
}

/* ----------------------------------------------------*/
/* ----------------- CSS for todoForm -----------------*/
/* ----------------------------------------------------*/

.todoFormContainer {
    z-index: 2;    
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all 0.8s ease-in-out;
}

.todoForm {
    z-index: 3;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px lightgrey;

    width: 50vw;
    height: 40vh;

    padding: 1rem 1.5rem;

    transition: all 0.8s ease-in-out;
}

.todoFormTitle {
    font-size: 1.2rem;
    color: var(--main-blue);

    margin-left: -0.5rem;
}

.todoFormUl {
    list-style-type: none;
}

.addTodoBtn {
    background-color: var(--main-blue);
    color: white;

    width: 5rem;
    padding: 0.3rem 1rem;
    
    border: none;

    border-radius: 5px;

    cursor: pointer;
}
