@font-face {
    font-family: 'Antic';
    src: url('./font/Antic/Antic-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --main-blue: #4891f1;
    --white-percent: 45%;
    --color-percent: 55%;
    --todoDiv-width-percent: 190%;

    font-family: 'Antic', monospace;
} 

html {
    font-size: 24px;
}

#mainContainerDiv /* contains header, sidebar and content*/{
    display: grid;

    margin-left: 0.5rem;

    grid-template-rows: 150px 1fr;
    grid-template-columns: 300px 1fr;
    grid-auto-flow: column;
}


/* --------------------------------------------------*/
/* ----------------- CSS for HEADER -----------------*/
/* --------------------------------------------------*/

#header /*a grid member of mainContainerDiv*/{
    grid-area: 1 / 1 / 2 / -1;
    margin: 0.6rem;

    display: grid;
    grid-template-columns: 300px 1fr;
}

#headerLeft {
    grid-area: 1 / 1 / 2 / 2;

    display:grid;
    align-items: center;
}

#quickViewContainer {
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#thisWeekQuickViewBtn,
#highPriorityQuickViewBtn,
#expiredQuickViewBtn {
    cursor: pointer;

    border-radius: 25px;
    
    background-color: white;

    font-size: 1rem;

    padding: 0.2rem 0.5rem;
}

#thisWeekQuickViewBtn {
    border: 1px solid var(--main-blue);
    color: var(--main-blue);
}

#highPriorityQuickViewBtn {
    border: 1px solid red;
    color: red;
}

#expiredQuickViewBtn {
    border: 1px solid darkgrey;
    color: darkgrey;
}

#thisWeekQuickViewBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: var(--main-blue);
}

#highPriorityQuickViewBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: red;
}

#expiredQuickViewBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: darkgrey;
}

#headerRight {
    grid-area: 1 / 2 / -1 / -1;

    display: grid;
    grid-auto-rows: 1fr 1fr;
}

#legendContainer {
    width: 700px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#highPriorityLegend,
#mediumPriorityLegend, 
#lowPriorityLegend {
    border: 1px solid black;
    border-radius: 5px;

    font-size: 0.8rem;

    height: 1rem;

    padding: 0rem 0.8rem;

    display: grid;
    align-items: center;
}

#highPriorityLegend {
    background: linear-gradient(to left, #fff var(--white-percent), red var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: red;
}

#mediumPriorityLegend {
    background: linear-gradient(to left, #fff var(--white-percent), yellow var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: yellow;
}

#lowPriorityLegend {
    background: linear-gradient(to left, #fff var(--white-percent), green var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: green;
}

/* ---------------------------------------------------*/
/* ----------------- CSS for SIDEBAR -----------------*/
/* ---------------------------------------------------*/

#sidebar /* a grid member of mainContainerDiv*/{
    grid-area: 2 / 1 / -1 / 2;

    margin: 0 0.5rem;
}

#addProjContainer {
    display: flex;
    align-items: center;

    transition: all 0.5s ease;
    background: linear-gradient(to top, #fff 50%, yellow 50%) bottom;
    background-size: 100% 200%;
}

#addProjContainer:hover {
    background-position: top;
    color: var(--main-blue);
}

#addProjText {
    margin-left: 0.2rem;
}

.projDiv {
    margin-top: 0.3rem;
    display:flex;
    transition: all 0.5s ease;
    background: linear-gradient(to right, #fff 50%, red 50%) left;
    background-size: 200%;
}

.projDiv:has(.deleteProj:hover) {
    background-position: right;
}

.projTitleSidebarDiv {
    flex: 1;
    transition: all 0.5s ease-in-out;

    background: linear-gradient(to left, rgba(255,255,255,0) 50%, var(--main-blue) 50%) right;
    background-size: 200%;
}

.projTitleSidebarDiv:hover {
    background-position: left;
    color: white;
}

.deleteProj {
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

#addProjIcon,
#addProjText,
.projDiv
{
    cursor: pointer;
}

/* ---------------------------------------------------*/
/* ----------------- CSS for CONTENT -----------------*/
/* ---------------------------------------------------*/

#content /* a grid member of mainContainerDiv*/ {
    display: grid;

    gap: 0.2rem;

    grid-area: 2 / 2 / -1 / -1;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
}

.todoList /* container for proj and todos under it */{
    border: 1px solid black;
    border-radius: 15px;

    box-shadow: 2px 2px grey; 

    padding: 0.3rem 0.6rem;

    display: flex;
    flex-direction: column;

    min-height: 250px;
}

.projTitleWrapper /* wraps projTitleDiv and closeTodoList */{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.projTitleDiv /* contains project title */{
    font-weight: 900;
    color: var(--main-blue);

    flex: 1;
}

.closeTodoList {
    background-color: red;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 8px;
}

.closeTodoListText /* hidden on default, shows x on hover */ {
    visibility: hidden;

    font-size: 12px;
    color: white;
}

.closeTodoList:hover p.closeTodoListText {
    visibility: visible;
}

.closeTodoList:hover {
    box-shadow: 2px 2px grey;
}

.emptyTodoListPrompt {
    font-size: 0.6rem;
    padding: 0.2rem;
    color: grey;
    border: 1px dotted grey;
    border-radius: 10px;
    background-color: #ffe;
}

.todoContainer /* container for all the todo*/ {
    margin-left: 0.2rem;
    flex: 1 1 auto;
}

.todoDiv, /* short verison of todo */ 
.todoDivDetailed  /* detailed version of todo, hidden by default*/ {
    position: relative;

    margin-bottom: 0.3rem;
    border: 1px solid grey; 
    border-radius: 5px;

    padding: 0.4rem 0.6rem;

    font-size: 0.8rem;

    transition: all 0.3s ease;
    background-color: rgba(255,255,255,0);
    z-index:2;
}

.todoDiv {
    display: flex;
    align-items: center;
}

.todoDivDetailed {
    display: block;
}

.hidden {
    display: none;
    position: absolute;
}

.highPriority {
    background: linear-gradient(to left, #fff var(--white-percent), red var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: red;

    transition: all 0.2s ease-in-out;
}
    /* -----------------------------------------------------------*/
    /* ----------------- CSS for todoDiv details -----------------*/
    /* -----------------------------------------------------------*/
.minimizeBtn {
    background-color: #fcbc42;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 8px;

    position: absolute;
    top:0.4rem;
    right: 0.4rem;
}

.minimizeBtnText /* hidden on default, shows x on hover */ {
    visibility: hidden;

    font-size: 12px;
    color: black;
}

.minimizeBtn:hover p.minimizeBtnText {
    visibility: visible;
}

.minimizeBtn:hover {
    box-shadow: 2px 2px grey;
}

.dueDateIconWrapper {
    margin-left:auto;
    display:flex;
}
.dueDateDiv {
    margin-left: auto;
    margin-right: 0.5rem;
    font-size: 0.6rem;
}

.todoDivDetailedName,
.todoDivDetailedDescription,
.todoDivDetailedDueDate,
.todoDivDetailedDuration,
.todoDivDetailedCompleted,
.todoDivDetailedPriority,
.content {
    display:flex;
    font-size: 0.8rem;

    position: relative;

    margin-top: 0.4rem;
}

.todoLabel {
    position: absolute;
    font-size: 0.5rem;

    transition: all 0.3s ease;
}

.up8px {
    transform: translateY(-8px);
}

.editIcon {
    margin-left:auto;
    margin-top: 0.6rem;
}

.saveEdit {
    background-color: var(--main-blue);
    color: white;
    border-radius: 5px;
    font-size: 0.5rem;
    height: 0.7rem;
    margin-left:auto;
    margin-top: 0.6rem;
}

.cancelEdit {
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 0.5rem;
    height: 0.7rem;
    margin-left:auto;
    margin-top: 0.6rem;
}
    /* ------------------------------------------------------------*/
    /* ---------------END CSS for todoDiv details -----------------*/
    /* ------------------------------------------------------------*/
.highPriority:hover {
    background-position: left;
}


.mediumPriority {
    background: linear-gradient(to left, #fff var(--white-percent), yellow var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: yellow;

    transition: all 0.2s ease-in-out;
}

.mediumPriority:hover {
    background-position: left;
}

.lowPriority {
    background: linear-gradient(to left, #fff var(--white-percent), green var(--color-percent)) right;
    background-size: var(--todoDiv-width-percent) 100%;
    background-color: green;

    transition: all 0.2s ease-in-out;
}

.lowPriority:hover {
    background-position: left;
}

.inputWrapper {
    display: flex;
}

.addTodoInput{
    color: black;

    margin-left: 0.2rem;

    border: 1px solid lightgrey;
    border-radius: 5px;

    padding: 0.1rem 0.6rem;

    font-size: 0.6rem;
    flex-grow: 1;
}

.addTodoInput::placeholder {
    color: lightgrey;
    font-size: 0.8rem;
    padding: 0.1rem 0;
}

.submitTodoBtn {
    border: 1px solid var(--main-blue);
    border-radius: 5px;
    padding: 5px 5px;

    background-color: var(--main-blue);
    color: #fff;

    margin-left: 0.2rem;

    flex-grow: 1;
}

.submitTodoBtn:hover {
    color: var(--main-blue);
    background-color: #fff;

    border: 1px solid var(--main-blue);
}

/* ----------------------------------------------------*/
/* ----------------- CSS for todoForm -----------------*/
/* ----------------------------------------------------*/

.todoFormContainer {
    z-index: 2;    
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all 0.8s ease-in-out;
}

.todoFormContainer input:focus {
    outline: none;
}

.todoForm {
    z-index: 3;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px lightgrey;

    width: 40vw;

    padding: 0.8rem 1.5rem;

    transition: all 0.8s ease-in-out;
}

.todoFormTitle {
    font-size: 1.2rem;
    color: var(--main-blue);

    margin-left: -0.5rem;
    margin-bottom: 1.2rem;
}

.todoFormUl {
    list-style-type: none;
}

    /* -------------------------------------------------------*/
    /* ----------------- CSS for form inputs -----------------*/
    /* -------------------------------------------------------*/
.todoFormUl li{
    position: relative;

    margin-bottom: 0.9rem;
}

.todoFormUl li:not(.completedLi) input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;

    font-size: 0.7rem;

    background-color: rgba(0,0,0,0);
}

.todoFormUl li:not(.dueDateLi, .completedLi, .priorityLi) label {
    position: absolute;

    left: 0;
    bottom: 0.3rem;

    font-size: 0.7rem;

    color: grey;

    transition: all 0.3s ease;

    z-index: -1;
}

.todoFormUl li:not(.dueDateLi, .nameLi, .descriptionLi, .durationLi) label {
    font-size: 0.7rem;

    color: grey;
}

.nameLi input:focus ~ label,
.nameLi input:valid ~ label{
    transform: translateY(-0.6rem);
    color: var(--main-blue);
    font-size: 0.5rem;
}

.descriptionLi input:focus ~ label,
.descriptionLi input:user-valid ~ label{
    transform: translateY(-0.6rem);
    color: var(--main-blue);
    font-size: 0.5rem;
}

.dueDateLi label{
    position: absolute;

    font-size: 0.5rem;

    bottom: 1rem;
    left:0;
    color: var(--main-blue);
}

.durationLi input:focus ~ label,
.durationLi input:valid ~ label{
    transform: translateY(-0.6rem);
    color: var(--main-blue);
    font-size: 0.5rem;
}

.completedLi,
.priorityLi 
{
    position: relative;
}

.completedLi label {
    margin-top: 0.5rem;
}

.completedLi label,
.priorityLi label 
{
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
}

.completedLi input,
.priorityLi select 
{
    position: absolute;
    top: 0.35rem;
}

.todoFormUl li input:focus
{
    border-bottom: 2px solid var(--main-blue)
}


.addTodoBtn {
    background-color: var(--main-blue);
    color: white;

    width: 4rem;
    padding: 0.3rem 0.5rem;
    
    border: none;

    border-radius: 5px;

    cursor: pointer;
}
    /* -------------------------------------------------------*/
    /* --------------END css for form inputs -----------------*/
    /* -------------------------------------------------------*/
